.nav{

  &--list {
    display: flex;

    text-align: center;
  }

  &--item {
    font-size: 20px;
    list-style-type: none;

    &:not(:last-child){
      margin-right: 25px;
    }

    & a {
      color: ghostwhite;
      transition: all 0.3s ease-in-out;

      &.active{
        color: burlywood;
      }

      &:hover{
        opacity: 0.8;
      }
    }
  }
}