* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 40px 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

body{
  position: relative;

  min-height: 100vh;
}